$link-decoration: none;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "bootstrap";
@import "~@p-chess/chess-bundle/scss/board";

main > .container {
    margin-top: 10px;
}

h3 {
    margin-top: 1rem;
}

ol {
    padding-left: 25px;
    max-height: 150px;
    overflow-y: scroll;
}

li:empty {
    display: none;
}

.nav {
    a.auth-user {
        color: $gray-900;

        &:hover {
            color: $gray-900;
            text-decoration: none;
        }
    }

    img {
        max-height: 35px;
        max-width: 35px;
    }

    .username {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

table {
    td {
        position: relative;

        img {
            max-width: 60px;
            position: absolute;
            left: -29px;
            top: 1px;
        }
    }
}

.player {
    position: relative;
    margin-top: 1.5em;
    border: 10px solid #eee;
    background-color: #eee;
    text-indent: 6px;

    img {
        position: absolute;
        right: -5px;
        top: -7px;
        max-width: 40px;
    }

    &.pl-black {
        border-left-color: #000 !important;
    }

    &.pl-white {
        border-left-color: #fff !important;
    }
}

#promotions {
    a {
        width: 45px;
        height: 45px;
        display: inline-block;
        vertical-align: bottom;
        background: url("~@p-chess/chess-bundle/img/pieces.png") no-repeat -140px -140px;
        background-size: 300px 100px;

        &.wq {
            background-position: -53px 0;
        }

        &.wb {
            background-position: -104px 0;
        }

        &.wn {
            background-position: -153px 0;
        }

        &.wr {
            background-position: -203px 0;
        }

        &.bq {
            background-position: -53px -55px;
        }

        &.bb {
            background-position: -104px -55px;
        }

        &.bn {
            background-position: -153px -55px;
        }

        &.br {
            background-position: -203px -55px;
        }
    }
}

// media queries

@include media-breakpoint-down(sm) {
    body {
        font-size: 14px;
    }
}

@include media-breakpoint-up(md) {
    body {
        font-size: 16px;
    }
}

@media print {
    body {
        margin-top: 0;
        margin-bottom: 0;
    }

    a[href]::after {
        content: none;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }
}
