{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - game {{ game.id }}{% endblock %}

{% set player = player() %}
{% set chess = game.chess(player) %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-9">
            {{ chess_render(chess, from|default(null), id) }}
            <p class="text-center text-muted d-none d-md-inline-block">{{ chess.fen }}</p>
        </div>
        <div class="col-12 col-lg-3">
            {% if game.start %}
                Started: {{ game.start|date('Y-m-d H:i') }}
            {% endif %}
            {% if game.lastMove %}
                <br>Updated: {{ game.lastMove|date('Y-m-d H:i') }}
            {% endif %}

            <div class="pl-white player{{ game.start and chess.turn == 'w' ? ' fw-bold' : '' }}">
                {% if game.white %}
                    {{ game.white }}
                    <img class="rounded-circle" src="{{ game.white.avatar ?? asset('square.png') }}" alt="">
                {% elseif game.blackPlayer(player) %}
                    waiting for opponent...
                {% else %}
                    <a href="{{ path('game_join', {id: game.id, color: 'w'}) }}" class="btn btn-light btn-sm">join</a>
                {% endif %}
            </div>
            <div class="pl-black player{{ chess.turn == 'b' ? ' fw-bold' : '' }}">
                {% if game.black %}
                    {{ game.black }}
                    <img class="rounded-circle" src="{{ game.black.avatar ?? asset('square.png') }}" alt="">
                {% elseif game.whitePlayer(player) %}
                    waiting for opponent...
                {% else %}
                    <a href="{{ path('game_join', {id: game.id, color: 'b'}) }}" class="btn btn-light btn-sm">join</a>
                {% endif %}
            </div>

            {% if game.started and not game.ended %}
                <p>Turn: {{ chess.turn == 'b' ? 'black' : 'white' }}</p>
            {% endif %}

            {% if game.started and chess.history|length %}
                <h3>History</h3>
                <ol>
                    <li>
                        {%- for num, history in chess.history.entries -%}
                            {{ history }} {{ num % 2 ? '</li><li>' }}
                        {%- endfor -%}
                    </li>
                </ol>
                {#
                <a href="{{ path('move_undo', {id: id}) }}" class="btn btn-warning d-print-none">
                    <i class="fas fa-arrow-left"></i> undo
                </a>
                #}
            {% endif %}

            {% if game.ended %}
                <h3>Game over</h3>
                {{ game.result.label }}
                {% if chess.inCheckmate %}
                    check mate
                {% elseif chess.inStalemate %}
                    stale mate
                {% elseif chess.inDraw %}
                    draw
                {% endif %}
            {% elseif to is defined %}
                <h3>Promote to</h3>
                <div id="promotions">
                    {% for piece in ['q', 'r', 'n', 'b'] %}
                        <a class="{{ chess.turn }}{{ piece }}" href="{{ path('move_end', {id: id, from: from, to: to, promotion: piece}) }}"></a>
                    {% endfor %}
                </div>
            {% elseif from is defined %}
                <h3>Possible moves</h3>
                <ul class="list-unstyled">
                    {% for square, squareMoves in moves %}
                        {% for move in squareMoves %}
                            <li>{{ square }} {{ move }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if game.started and not game.ended %}
                <a href="{{ path('game_resign', {id: game.id}) }}" onclick="return confirm('Are you sure you want to resign?')">
                    resign
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
