{% extends 'layout.html.twig' %}

{% block body %}
    <table class="table table-hover">
        <thead class="dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">White</th>
                <th scope="col">Black</th>
                <th scope="col" class="d-none d-md-table-cell">Start</th>
                <th scope="col">Last</th>
                <th class="d-none d-md-table-cell">End</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>
                        <img src="{{ image(game.chess) }}" alt="">
                    </td>
                    <td>
                        <span{{ game.start and game.chess.turn == 'w' ? ' class="fw-bold"' : '' }}>
                            {{ game.white|default('-') }}
                        </span>
                    </td>
                    <td>
                        <span{{ game.chess.turn == 'b' ? ' class="fw-bold"' : '' }}>
                            {{ game.black|default('-') }}
                        </span>
                    </td>
                    <td class="d-none d-md-table-cell">
                        {{ game.start ? game.start|date('Y-m-d H:i') : '-' }}
                    </td>
                    <td>
                        {{ game.lastMove ? game.lastMove|date('Y-m-d H:i') : '-' }}
                    </td>
                    <td class="d-none d-md-table-cell">
                        {{ game.end ? game.end|date('Y-m-d H:i') : '-' }}
                    </td>
                    <td>
                        <a href="{{ path('game_show', {id: game.id}) }}" class="btn btn-secondary">
                            view
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No active game at the moment.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="btn-group">
        <button class="btn btn-primary btn-lg" disabled>start <span class="d-none d-md-inline">new</span> game as</button>
        <a class="btn btn-light btn-lg" href="{{ path('game_new', {color: 'w'}) }}">white</a>
        <a class="btn btn-dark btn-lg" href="{{ path('game_new', {color: 'b'}) }}">black</a>
    </div>
{% endblock %}
