{% if is_granted('ROLE_USER') %}
    <ul class="nav float-end ms-auto flex-row">
        <li class="nav-item dropdown">
            <a href="#" class="auth-user dropdown-toggle" data-bs-toggle="dropdown">
                {% set avatar = avatar() %}
                <span{% if is_granted('IS_IMPERSONATOR') %} class="text-warning"{% endif %}>
                    {% if avatar %}
                        <img class="rounded-circle" src="{{ avatar }}" alt="">
                    {% else %}
                        <i class="fas fa-user-circle fa-2x"></i>
                    {% endif %}
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item username">{{ app.user.userIdentifier }}{% if is_granted('IS_IMPERSONATOR') %}*{% endif %}</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                    <a class="dropdown-item" href="{{ path('logout') }}"><i class="fa fa-sign-out-alt fa-fw"></i> logout</a>
                </li>
                {% if is_granted('IS_IMPERSONATOR') %}
                    <li>
                        <a class="dropdown-item" href="{{ path('homepage', {_switch_user: '_exit'}) }}">
                            <i class="fa fa-exchange-alt fa-fw"></i> exit imp.
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    </ul>
{% else %}
    <a href="{{ path('connect_google_start') }}" class="btn btn-success">
        <i class="fas fa-user fa-fw"></i> login
    </a>
{% endif %}
