<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#f8f9fa">
        <title>{% block title 'Chess' %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link href="{{ preload(asset('build/css/app.css'), {as: 'style'}) }}" rel="preload" as="style">
        <link href="{{ preload(asset('build/js/app.js'), {as: 'script'}) }}" rel="preload" as="script">
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        <script src="{{ asset('build/js/app.js') }}" defer></script>
    </head>
    <body class="d-flex flex-column h-100">
        <main role="main" class="flex-shrink-0">
            <nav class="navbar navbar-light bg-light d-print-none">
                <div class="container">
                    <a href="{{ path('homepage') }}" class="navbar-brand" title="home">
                        <i class="fas fa-home" aria-label="home"></i>
                    </a>
                   {{ include('_user.html.twig') }}
                </div>
            </nav>
            <div class="container">
                {% block body '' %}
            </div>
        </main>
        <footer class="footer navbar-light bg-light mt-auto py-3 d-print-none">
            <div class="container">
                <p class="text-muted">
                    © 2021 - {{ date()|date('Y') }} <a href="//massimilianoarione.it">Massimiliano Arione</a>
                    - powered by <a href="//github.com/p-chess">p-chess</a>
                </p>
            </div>
        </footer>
    </body>
</html>
