{% extends 'layout.html.twig' %}

{% block title %}Error {{ exception.statusCode }} - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Error {{ exception.statusCode }}</h2>
    <p class="lead">
        Sorry, an error occurred. 😕
        <br>If you get the same error multiple times, please contact the system administrator.
    </p>
    <p class="text-muted text-end small">
        {{ exception.statusCode == 404 ? 'Resource not found' : exception.message }}
    </p>
{% endblock %}
